@import './variables';

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroAnimation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  width: 100%;
  height: 100%;

  h1 {
    margin-bottom: 2rem;
    font-size: $font-size-xxlarge;
    @media (max-width: $breakpoint-mobile) {
      font-size: 3rem !important;
    }

    @media (max-width: $breakpoint-tablet) {
      font-size: 4rem !important;
    }
  }
}

@keyframes shineText {
  0% {
    background-position: -100% center;
  }
  100% {
    background-position: 200% center;
  }
}

.tagline {
  font-size: $font-size-large;
  margin-bottom: 2rem;
  font-weight: bold;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: shineText 4s linear infinite;

  @media (max-width: $breakpoint-mobile) {
    font-size: 1.5rem;
  }
}

.lightShine {
  background-image: linear-gradient(
    90deg,
    $text-color-light 45%,
    #fff 50%,
    $text-color-light 55%
  );
}

.darkShine {
  background-image: linear-gradient(
    90deg,
    #fff 45%,
    $primary-color 50%,
    #fff 55%
  );
}

.sendMessageButton {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: transparent;
  border: 2px solid;
  border-radius: 30px;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;

  &:hover {
    background-color: $white;
    color: $primary-color;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
  }
}
